
<div class="container">

	<h1>Shopping Cart</h1>

	<div class="cart">

		<div class="products">
			{{#each products}}
			<div class="product">
				<img src="{{this.product_id.image}}">
				

				<div class="product-info">

					<h3 class="product-name">{{this.product_id.name}}</h3>

					<h4 class="product-price">${{this.product_id.price}}</h4>

					<p class="product-quantity">Qnt: <input value={{this.quantity}}></p>

					<p class="product-remove">

						<i class="fa fa-trash" aria-hidden="true"></i>
						<span class="remove">Remove</span>

					</p>

				</div>

			</div>
			{{/each}}

			

		</div>

		<div class="cart-total">

			<p>

				<span>Total Price</span>

				<span>$3</span>

			</p>

			<p>

				<span>Number of Items</span>

				<span>2</span>

			</p>

			<p>

				<span>You Save</span>

				<span>$0</span>

			</p>

			<a href="#">Proceed to Checkout</a>

		</div>

	</div>

</div>

