
<div class="main-content">
    <h1>Log In</h1>
    <form method="POST" action="/login/password">
        <label for="email"><b>Email</b></label>
        <input id="username" type="email" placeholder="Enter Email" name="username" class="box" required>
    
        <label for="psw"><b>Password</b></label>
        <input id="current-password" type="password" placeholder="Enter Password" name="password" class="box" required>
    
        <p class="error">{{error}}</p>
        <button type="submit" class="btn">Log In</button>
        <div class="nav-btns">
            <button type="button" class="btn" onclick="location.href='/'">Cancel</button>
            <button type="button" class="btn" onclick="location.href='/signup'">Sign Up?</button> 
        </div>
    </form>
</div>
