
<div class="main-content">
    <h1>Sign Up</h1>
    <form method="POST" action="/signup">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" id="username" name="username" class="box" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id ="new-password"  name="password" class="box" required>

        <p class="error">{{error}}</p>
        <button type="submit" class="btn">Sign Up</button>
        <div class="nav-btns">
            <button type="button" class="btn" onclick="location.href='/'">Cancel</button>
            <button type="button" class="btn" onclick="location.href='/login'">Sign Up?</button> 
        </div>
    </form>
</div>